/* MOBILE */
@media screen and (max-width: 425px) {
    .container {
        padding: 15px;
    }

    #home h1 img {
        width: 130px;
        border-radius: 50%;
        display: block;
    }

    .projects {
        justify-items: center;
    }

    .skillsDiv {
        justify-items: center;
    }
}

/* TABLET HEADER ADJUSTMENT */
@media screen and (min-width: 767px) {
    #home h1 img, #headerText {
        width: 130px;
        border-radius: 50%;
        display: inline;
        font-size: 50px;
    }
}

/*TABLET and DESKTOP */
    .projects {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-items: center;
    }
    
    .skillsDiv {
        justify-items: center;
    }


/* WIDE DESKTOP IMAGE SPACING ADJUSTMENT */
@media screen and (min-width: 990px) { 
    .projects {
        justify-items: center;
    }
    
    .skillsDiv {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }
}